.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {
    padding: 10px;

}

.messages {
    padding: 10px;

}

.messages .message {

}

.item {
    color: white;
    text-decoration: none;
  }
